.col{
    padding-top: 40px;
    padding-bottom:40px;
  }
  #search{
    border-color:black;
  }
  input {
    background-color:blue;
    height: 46px;
    border-radius:100px;
    font-family: 'Berkshire Swash', cursive;
    font-size: 14px;
    color:#00FFFF;
  }
  .btn{
    border-radius: 0 20px 20px 0;
    height: 46px;
    font-family:'Berkshire Swash', cursive;
  }
  input::placeholder{
    color:white;
  
  }
  input[type=text] {
    background-color:whitesmoke;
    color: black;
    font-family:'Berkshire Swash', cursive;
  }
  