@import url("https://fonts.google.com/specimen/Bangers");
.error{
  height: 614px;
  background-image: url("../../assets/404.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}
.overlay{
  background-color: rgba(0,0,0,0.965);
  height: inherit;
}
h1{
  position: relative;
  top: 40%;
  font-family: 'Berkshire Swash', cursive;
  font-size: 70px;
}
