@import url("https://fonts.google.com/specimen/Bangers");

.nav-links {
  position: relative;
  right: -70%;
}

.nav-links li {
  font-weight: bold;
  font-family: 'Berkshire Swash', cursive;
  border-color: white;
  font-size: 33px;
  color: white;
}

.nav-links li:hover {
  color:green;
}

.logotext {
  font-family: 'Berkshire Swash', cursive;
  font-weight: bold;
  font-size: 1.85em;
  color: white;
}

.navbar {
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1;
}
